@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
:root {
  --black: #151515;
  --red: #a91d3a;
  --red2: #c73659;
  --white: #eeeeee;
  font-family: "Rowdies", sans-serif;
}
.max-width {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: var(--black);
}
header {
  background-color: var(--black);
}
.menu {
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  button {
    font-size: 1.2rem;
    padding-top: 0.4rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
    border-radius: 3rem;
    transition: all 500ms;
    &:hover {
      filter: brightness(90%);
    }
  }
  #sg-in {
    color: white;
    font-weight: 600;
    border: black;
    margin-left: auto;
    margin-right: 1rem;
    background-color: var(--red2);
    &:hover {
        background-color: rgb(105, 255, 137);
        color: black;
    }
  }
  #sg-up {
    font-weight: 600;
    border: black;
    margin-right: 2rem;
    &:hover{
      background-color: rgb(0, 0, 0);
      color: white;
    }
  }
}
.menu nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  cursor: default;
  img {
    width: 6.5rem;
  }
  li a{
    display: inline-block;
    position: relative;
    opacity: 0.75;
    border: none;
  }
  li a:hover{
    opacity: 1;
  }
  li a::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #c7c7c7;
    width: 100%;
    bottom: -20px;
    opacity: 0;
  }
  li a:hover::before {
    transition: 900ms;
    bottom: -10px;
    opacity: 1;
  }
}
.firstsec{
  background-image: url(asset/kakashi.png);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  color: var(--white);
  overflow: scroll;
  font-family: "Rowdies", sans-serif;
  .firstcont{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
      margin-top: 15%;
      margin-bottom: 8rem;
      font-size: 6rem;
      font-weight: 700;
      text-shadow: var(--black) 1px 0 10px;
      span{
        color: #c73659;
        text-shadow: var(--red) 1px 0 10px;
      }
    }
    p{
      font-size: 2rem;
      text-shadow: 1px 1px 2px var(--red), 0 0 1em var(--black), 0 0 0.2em var(--black);
      line-height: 1.4;
      letter-spacing: 1.6px;
    }
    button{
      font-family: "Rowdies", sans-serif;
      margin-top: 9rem;
      margin-bottom: auto;
      font-size: 1.8rem;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0.4);
      color:  #ff6e8b;
      border: 2px solid #ff6e8b;
      border-radius: 5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.6rem;
      padding-right: 0.9rem;
      padding-left: 0.9rem;
      transition: 200ms;
      &:hover{
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.614), inset 0px 0px 10px 1px var(--red), 0px 0px 10px 2px var(--red);
        color: #ff2b55;
      }
    }
  }
}
.secondsec{
  background-image: url(asset/pattern.png);
  background-size: contain;
}
.beechwala{
  padding: 2rem;
  display: flex;
  gap: 3rem;
  .rightwala{
    margin-left: auto;
    img{
      width: 30rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  .leftwala{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30rem;
    .title{
      margin-top: 20%;
      font-size: 4rem;
      text-shadow: var(--red) 1px 0 10px;
      line-height: 1.1;
    }
    .subtitle{
      margin-top: 0.5rem;
    }
    .para{
      letter-spacing: 1.1px;
      margin-top: 0.8rem;
      line-height: 1.4;
    }
    button{
      color: var(--white);
      background-color: var(--red2);
      font-family: "Rowdies", sans-serif;
      margin-right: auto;
      margin-top: 8rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      padding-top: 0.2rem;
      padding-bottom: 0.3rem;
      border-radius: 0;
      font-size: 1.5rem;
      border: var(--red);
      cursor: pointer;
      transition: 200ms;
      &:hover{
        box-shadow: 0px 0px 1px 1px rgba(253, 105, 105, 0.614), inset 0px 0px 10px 1px var(--red), 0px 0px 10px 2px var(--red);
      }
    }
  }
}



.thirdsec{
  font-family: "Rowdies", sans-serif;
}

.featskins{
  text-align: center;
  color: var(--white);
  font-size: 5rem;
  h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-shadow: var(--black) 1px 0 10px;
    span{
      color: var(--red);
      text-shadow: var(--red) 1px 0 10px;
    }
  }

}
.mySlides {
  display: none;
  img {
    vertical-align: middle;
    width: 100%;
  }
}
.border{
  border: 8px solid black;
  border-radius: 6px;
}

.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slideshow-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  mix-blend-mode: exclusion;
  font-size: 2.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px var(--red), 0 0 1em var(--black), 0 0 0.2em var(--black);
}

.numbertext {
  mix-blend-mode: exclusion;
  color: #f2f2f2;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  top: 1%;
  font-weight: 300;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e4e4e4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #292929;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
